body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.search{
	height: 105px;
	width: 100%;
	background-color:#AFB4F4;
}
.search .logo {
	float:left;
}

#wrap {
overflow:hidden;
position:relative; /* IE7 needs this */
background-color:#3E23C0;

}
#nav {
float:left;
position:relative;
left:50%;
	
}
#nav ul {
float:left; /* IE6 needs this */
position:relative;
left:-50%;
list-style:none; 
	
}
#nav li {
float:left;
}
#nav a {
float:left;
text-decoration:none; 
padding:0 30px; /* variable width */
	color:#F3EFEF;
}




label {
   
    font: 1rem 'Fira Sans', sans-serif;
	
}

input,
label {
	
    margin: 2rem 0;
	margin-left: 1100px;
}

